# Notes for {{ operation_system }} VM

![{{ operation_system }} Logo]({{ logo_url }})

- **Operating System:** {{ operation_system }}
- **CPU:** {{ cores }} vCPUs
- **Memory:** {{ memory }} GB
- **Disk:** {{ disk_size }} GB

*Created by Dotfiles-iac Project*